@model IEnumerable<FundRaiser.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="d-flex justify-content-around">
    @foreach (var item in Model)
    {

        <div class="card " style="width: 18rem;">
            <img class="card-img-top" src="@("~/Image/"+item.Photo)" asp-append-version="true" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                <p class="card-text"> @Html.DisplayFor(modelItem => item.Description)</p>
            </div>
            <div class="card-body">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>


    }
</div>
    